body {
  background-image: url(/assets/images/background.jpg);
  overflow-x: hidden;
}

/* Header */
header {
  font-family: 'Rubik Iso', cursive;
  letter-spacing: 0.2em;
  opacity: 0.7;
}

.header1 {
  font-family: 'Rubik Iso', cursive;
  letter-spacing: 0.2em;
  opacity: 0.8;

  text-align: center;
  font-size: 600%;
  margin: 0 auto;
  color: rgb(121, 255, 32);
}

.header2 {
  font-family: 'Rubik Iso', cursive;
  letter-spacing: 0.2em;
  opacity: 0.8;

  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  font-size: 190%;
}

span {
  color: rgb(255, 255, 255);
}

#question-holder{
  text-align: center;
}

/* Start Quiz Button */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#start-quiz {
  font-size: 3rem;
  font-family: Cinzel Decorative;
  padding: 0.5rem 1rem;
  background-color: rgb(93, 150, 37);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

#start-quiz:hover {
  background: linear-gradient(45deg, #208638, #000000);
}

#answer-holder{
  background-color: rgba(0,0,0,0.7);
}
/* Qestion Container */
#question-container {
  margin: 0 auto;
  border: none;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 240%;
  margin-bottom: 10px;
  font-family: Cinzel Decorative;
  text-align: center;
  color: greenyellow;
  opacity: 0.4;

}

/* Answer Button */
.answer-button {
  display: inline;
  margin-bottom: 20px;
  padding: 10px;

  color: #ffffff;
  font-size: 140%;
}

#button0, #button1, #button2 {
  background-color: #000000;
  opacity: 0.6;
  margin: 10px;
  text-align: center;
  display: inline-flex;
}

#question {
  font-family: 'Alkatra', cursive;
  font-size: 230%;
  text-align: center;
  color: #ffffff;
}

button-answer-button:hover {
  background-color: #208638;
}

/* Try again button */
#try-again {
  height: 100px;
  font-size: 2rem;
  font-family: Cinzel Decorative;
  padding: 1rem 2rem;
  background-color: rgb(194, 26, 26);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

#try-again:hover {
  background: linear-gradient(45deg, #940f0f, #000000);
}

/* Score count */
#score-right {
  font-family: Cinzel Decorative;
  color: white;
  font-size: 180%;
  color: #208638;
  opacity: 0.7;
}

#score-wrong {
  font-family: Cinzel Decorative;
  color: white;
  font-size: 150%;
  color: #ff0000;
  opacity: 0.7;
}

#score-right, #score-wrong {
  margin: 4%;
  text-align: center;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* Related to RWD Grid View */
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {

  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}